In [1]:
import requests #import requests
from bs4 import BeautifulSoup #import BeautifulSoup
import numpy as np
import pandas as pd
url=('https://www.propertypro.ng/property-for-rent?search=Lagos+Island&auto=&type=&bedroom=&min_price=&max_price=')

In [2]:
pages =requests.get(url) #use requests to access the page's source code
soup =BeautifulSoup(pages.text, 'html.parser') #Store page's source code in variable named soup

In [3]:
titles=soup.select('.listings-property-title')
len(titles)

22

In [4]:
title_list=[]
for title in titles:
    title_list.append(title.get_text())
len(title_list)

22

In [5]:
locations=soup.select('.single-room-text>h4')
len(locations)

22

In [6]:
location_list=[]
for location in locations:
    location_list.append(location.get_text())
len(location_list)

22

In [7]:
bedrooms=soup.select('.fur-areea>span')
len(bedrooms)

66

In [8]:
bedroom_each=[]
for bedroom in bedrooms:
    bedroom_each.append(bedroom.get_text())
bedroom_array=np.array(bedroom_each).reshape(22,3)
bedroom_list=bedroom_array[:22,0]
bedroom_list=bedroom_list.tolist()
len(bedroom_list)

22

In [9]:
bathroom_list=bedroom_array[:22,1]
bathroom_list=bathroom_list.tolist()
len(bathroom_list)

22

In [10]:
toilet_list=bedroom_array[:22,2]
toilet_list=toilet_list.tolist()
len(toilet_list)

22

In [11]:
rents=soup.select('h3>span')
len(rents)

44

In [12]:
rents_each=[]
for rent in rents:
    rents_each.append(rent.get_text())
    rents_array=np.array(rents_each)
rents_array=rents_array.reshape(22,2)
rent_list=rents_array[:22,1]
rent_list=rent_list.tolist()
rent_list

['14,000,000/year',
 '12,000,000/year',
 '8,500,000',
 '13,000,000',
 '18,000,000/year',
 '11,000,000/year',
 '10,000,000/year',
 '10,000,000/year',
 '28,000,000/year',
 '15,000,000/year',
 '135,000,000',
 '12,000,000/year',
 '30,000,000/year',
 '50,000,000/year',
 '2,500,000/year',
 '11,000,000/year',
 '14,000,000/year',
 '9,000,000/year',
 '12,000,000/year',
 '10,000,000/year',
 '7,500,000/year',
 '10,000,000/year']

In [13]:
agents=soup.select('.phone-icon')

In [14]:
agent_list=[]
for agent in agents:
    agent_list.append(agent.get_text())
for i in agent_list:
    i.replace('\n','')

len(agent_list)

22

In [20]:
def scrape_page():
    property=pd.DataFrame({"Title":title_list, "Location":location_list, "Bedrooms":bedroom_list, "Toilet":toilet_list, "Rent":rent_list, "Agent":agent_list})
    prop=property.to_csv('housingfile.csv', mode='a', header=False)
    df=pd.read_csv('housingfile.csv')
    return df

In [21]:
scrape_page()

,Unnamed: 0,Title,Location,Bedrooms,Toilet,Rent,Agent
0,0,4 BEDROOM HOUSE FOR RENT,Old Ikoyi Ikoyi Lagos,4 beds,5 Toilets,"14,000,000/year",8124269637
1,1,3 BEDROOM HOUSE FOR RENT,Banana Island Ikoyi Lagos,3 beds,4 Toilets,"12,000,000/year",8082163583
2,2,2 BEDROOM FLAT / APARTMENT FOR RENT,Banana Island Ikoyi Lagos,2 beds,2 Toilets,"8,500,000",9072600490
3,3,3 BEDROOM FLAT / APARTMENT FOR RENT,Banana Island Ikoyi Lagos,3 beds,4 Toilets,"13,000,000",9072600490
4,4,3 BEDROOM FLAT / APARTMENT FOR RENT,Banana Island Ikoyi Lagos,3 beds,4 Toilets,"18,000,000/year",7057302511
...,...,...,...,...,...,...,...
61,17,4 BEDROOM HOUSE FOR RENT,Oniru Victoria Island Lagos,4 beds,5 Toilets,"9,000,000/year",9035137760
62,18,3 BEDROOM FLAT / APARTMENT FOR RENT,Banana Island Ikoyi Lagos,3 beds,4 Toilets,"12,000,000/year",8098000359
63,19,3 BEDROOM HOUSE FOR RENT,Victoria Island Lagos,3 beds,4 Toilets,"10,000,000/year",9035137760
64,20,3 BEDROOM HOUSE FOR RENT,Oniru Victoria Island Lagos,3 beds,4 Toilets,"7,500,000/year",9035137760
65,21,4 BEDROOM HOUSE FOR RENT,Oniru Victoria Island Lagos,4 beds,5 Toilets,"10,000,000/year",9035137760